<div class="col-sm-6 col-sm-offset-3">
	<h2 class="centered">To Do List</h2>
	<div ng-controller="TodoCtrl">
		<input type="text" ng-model="newTodo.title" class="form-control" />
		<br>
		<button ng-click="click()" class="btn btn-warning centered">Submit</button>
		<hr>
		<div class="well">
			<ng-pluralize count="todos.length" when="{'0': 'You have nothing to do!', 'one': 'You have one thing to do', 'other': 'You have {} things to do'}"></ng-pluralize>
			<ul>
				<li ng-repeat="todo in todos">{{todo.title}} <span class="date-span">- {{createdAt | date: 'EEEE MMM dd, yyyy | HH:mm'}} </span><button ng-click="delete()" class="btn btn-danger button-right">Delete</button></li>
			</ul>
		</div>
	</div>
</div>